body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
}

hr {
    width: 500px;
    height: 5px;
    background-color: solid black;
}

#secret-start {
    border: none;
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    font-size: 32;
    font-style: bold;
    padding: 0;
    color: rgb(96, 58, 58);

}

#boardOne {
    width: 450;
    height: 450;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    background-color: rgb(214, 114, 129); 
    border: 3px solid black;
    margin: 0 auto;
    display: grid;

}

.cell {
    display: grid;
    border: 5px solid;
    
}

#winning-cell {
    background-color: rgb(201, 65, 103);
    border: 5px solid;
}

#boardTwo {
    width: 450;
    height: 450;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    background-color: rgb(73, 73, 177); 
    border: 3px solid black;
    margin: 0 auto;
    display: grid;

}

.cell2 {
    display: grid;
    border: 5px solid;
}

#winning-cell-2 {
    background-color: rgb(80, 66, 164);
    border: 5px solid;
}

#round-2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: rgb(96, 58, 58);
    align-items: center;
    margin: 10px;
    border: 1;
    background-color: white;
}

#boardThree {
    width: 450;
    height: 450;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    background-color: rgb(230, 230, 81); 
    border: 3px solid black;
    margin: 0 auto;
    display: grid;

}

.cell3 {
    display: grid;
    border: 5px solid;
}

#winning-cell-3 {
    background-color: rgb(196, 187, 31);
    border: 5px solid;
}

#bonusBoardOne {
    width: 450;
    height: 450;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    background-color: rgb(63, 124, 89); 
    border: 3px solid black;
    margin: 0 auto;
    display: grid;

}

.cell4 {
    display: grid;
    border: 5px solid;
}

#winning-cell-4 {
    background-color: rgb(143, 93, 68);
    border: 5px solid;
}
#bonusBoardTwo {
    width: 450;
    height: 450;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    background-color: rgb(253, 253, 253); 
    border: 3px solid black;
    margin: 0 auto;
    display: grid;

}

.cell5 {
    display: grid;
    border: 5px solid;
}

#winning-cell-5 {
    background-color: rgb(252, 252, 252);
    border: 5px solid;
}
#bonusBoardThree {
    width: 450;
    height: 450;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    background-color: rgb(63, 124, 89); 
    border: 3px solid black;
    margin: 0 auto;
    display: grid;

}

.cell6 {
    display: grid;
    border: 5px solid;
}

#winning-cell-6 {
    background-color: rgb(143, 93, 68);
    border: 5px solid;
}
#bonusBoardFour {
    width: 450;
    height: 450;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    background-color: rgb(63, 124, 89); 
    border: 3px solid black;
    margin: 0 auto;
    display: grid;

}

.cell7 {
    display: grid;
    border: 5px solid;
}

#winning-cell-7 {
    background-color: rgb(143, 93, 68);
    border: 5px solid;
}






#round-3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: rgb(96, 58, 58);
    align-items: center;
    margin: 10px;
    border: 1;
    background-color: white;
}

#round-1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: rgb(96, 58, 58);
    align-items: center;
    margin: 10px;
    border: 1;
    background-color: white;
}

#player-score {
    align-items: center;
    background-color: white;
    width: 100px;
    height: 20px;
    margin: 10px;
    border: 1px solid;
}

#try-again {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: rgb(96, 58, 58);
    align-items: center;
    margin: 10px;
    border: 1;
    background-color: white;
}
#bonus-button {
    border: none;
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    font-size: 32;
    font-style: bold;
    padding: 0;
    color: rgb(0, 0, 0);
}
#bonus-round-2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: rgb(96, 58, 58);
    align-items: center;
    margin: 10px;
    border: 1;
    background-color: white;
}
#bonus-round-3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: rgb(96, 58, 58);
    align-items: center;
    margin: 10px;
    border: 1;
    background-color: white;
}
#bonus-round-4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    color: rgb(96, 58, 58);
    align-items: center;
    margin: 10px;
    border: 1;
    background-color: white;
}

